<li id="comment-<%= comment.id %>" >

  <span><%=link_to User.find(comment.user_id).name,comment.user %></span><br>
  <figure class="comment">
  <span class="content"><%= comment.content %></span><br>
  <span class="timestamp">
    Posted <%= time_ago_in_words(comment.created_at) %> ago.

  </span>
  </figure>
</li>